BudgetCalculationWeb/WebContent/wsdl/BudgetCalculatingService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://poc.incture.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://poc.incture.com" xmlns:intf="http://poc.incture.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://poc.incture.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="validateWithinBudget">
    <complexType>
     <sequence>
      <element name="availableBudget" type="xsd:int"/>
      <element name="calculatedAmount" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="validateWithinBudgetResponse">
    <complexType>
     <sequence>
      <element name="validateWithinBudgetReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="validateWithinBudgetResponse">

      <wsdl:part element="impl:validateWithinBudgetResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validateWithinBudgetRequest">

      <wsdl:part element="impl:validateWithinBudget" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BudgetCalculatingService">

      <wsdl:operation name="validateWithinBudget">

         <wsdl:input message="impl:validateWithinBudgetRequest" name="validateWithinBudgetRequest">

       </wsdl:input>

         <wsdl:output message="impl:validateWithinBudgetResponse" name="validateWithinBudgetResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BudgetCalculatingServiceSoapBinding" type="impl:BudgetCalculatingService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="validateWithinBudget">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validateWithinBudgetRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validateWithinBudgetResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BudgetCalculatingServiceService">

      <wsdl:port binding="impl:BudgetCalculatingServiceSoapBinding" name="BudgetCalculatingService">

         <wsdlsoap:address location="http://localhost:8080/BudgetCalculationWeb/services/BudgetCalculatingService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
